DynamicInvocationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ds="http://DynamicInvocationService.ws.zc:8080/axis/services/DynamicInvocationService/" xmlns:gm="http://www.ws.zc/xml-namespace/informationModel/zcGenericModel" xmlns:cdt="http://www.ws.zc/xml-namespace/informationModel/zcCommonDataTypes" targetNamespace="http://DynamicInvocationService.ws.zc:8080/axis/services/DynamicInvocationService/">
	<types>
		<xs:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" targetNamespace="http://DynamicInvocationService.ws.zc:8080/axis/services/DynamicInvocationService/">
			<xs:import namespace="http://www.ws.zc/xml-namespace/informationModel/zcCommonDataTypes" schemaLocation="zcCommonDataTypes.xsd"/>
			<xs:element name="getDynamicInvocation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="serviceName" type="xs:string"/>
						<xs:element name="operationName" type="xs:string"/>
						<xs:element name="parameterList" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getDynamicInvocationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="result" type="xs:string"/>
						<xs:element name="result1" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="getDynamicInvocationRequest">
		<part name="request" element="ds:getDynamicInvocation"/>
	</message>
	<message name="getDynamicInvocationResponse">
		<part name="response" element="ds:getDynamicInvocationResponse"/>
	</message>
	<portType name="DynamicInvocationPT">
		<operation name="getDynamicInvocation">
			<input message="ds:getDynamicInvocationRequest"/>
			<output message="ds:getDynamicInvocationResponse"/>
		</operation>
	</portType>
	<binding name="DynamicInvocationBD" type="ds:DynamicInvocationPT">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getDynamicInvocation">
			<soap:operation soapAction="urn:#getDynamicInvocation"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DynamicInvocationService.ws.zc:8080/axis/services/DynamicInvocationService"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DynamicInvocationService.ws.zc:8080/axis/services/DynamicInvocationService"/>
			</output>
		</operation>
	</binding>
	<service name="DynamicInvocationService">
		<port name="DynamicInvocationService" binding="ds:DynamicInvocationBD">
			<soap:address location="http://DynamicInvocationService.ws.zc:8080/axis/services/DynamicInvocationService"/>
		</port>
	</service>
</definitions>
